  <div data-content-target="articleResult" id="article-result" class="article-result" data-controller="resultscroll" >
    <h1 class= "text-align-center d-flex"><%= @ccn_name.split(".").first %></h1><br>
      <% @chapters.each do |chapter| %>
        <% if chapter["etat"] == "VIGUEUR_ETEN" || chapter["etat"] == "VIGUEUR_NON_ETEN"%>
          <% if chapter["etat"] %>
            <% if chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
              <h2 data-chapters-target="position" class="titre-paragraphe" id="main-subject-chapter"><%= highlight(chapter["title"], @highlighted_words) do |match| %></h2>
                  <% if match == params[:secondary_subject] %>
                    <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                  <% else %>
                    <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                  <% end %>
                <% end %>
            <% else %>
              <h2 data-chapters-target="position" class="titre-paragraphe"><%= chapter["title"] %></h2>
            <% end %>
            <% @chapter_articles = chapter["articles"]%>
            <% @chapter_articles.each do |article| %>
              <%= article_id = nil  %>
              <% unless chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
                <% if (article["content"].html_safe.include?(params[:main_subject]))%>
                  <% article_id = "main-subject-article" %>
                <% end %>
              <% end %>
              <% if @chapter_articles.count == 1 %>
                <p class="style-article" id=<%=article_id%>>Article <%= article["num"]%></p>
                <%= highlight(article["content"].html_safe, @highlighted_words) do |match|%>
                    <% if match == params[:secondary_subject] %>
                      <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                    <% else %>
                      <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                    <% end %>
                  <% end %>
              <% elsif @chapter_articles.count > 1 %>
                <% displayed_article = [] %>
                <% if article["etat"] == "VIGUEUR_ETEN"%>
                  <p class="style-article" id=<%=article_id%>>Article <%= article["num"]%></p>
                  <% displayed_article << article["num"] %>
                  <%= highlight(article["content"].html_safe, @highlighted_words) do |match|%>
                    <% if match == params[:secondary_subject] %>
                      <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                    <% else %>
                      <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                    <% end %>
                  <% end %>
                <% elsif article["etat"] == "VIGUEUR" && displayed_article == nil %>
                  <p class="style-article" id=<%=article_id%>>Article <%= article["num"]%></p>
                  <% displayed_article << article["num"] %>
                  <%= highlight(article["content"].html_safe, @highlighted_words) %>
                <% else %>
                <% end %>
              <% end%>
            <%end%>
          <% end %>
        <%end%>
      <%end %>
    </div>
