<%= render "shared/navbar" %>
<div class="screen-wrapper">
  <div class="bloc-elements-home">
    <%# PARTIE À GAUCHE %>
    <div class="presentation-home">
      <h1 class="title-app">Help RH</h1>
      <div class="intro-app">
        <div class="intro-app-bold">
          <p>
            Salariés, protégez-vous, et apprenez à faire respecter vos droits !
          </p>
        </div>
        <p>
          Help RH vous aide à répondre à votre question et à trouver le texte applicable à votre situation.
        </p>
      </div>
    </div>

    <div class="card-white-small">
      <%# PARTIE À DROITE %>
      <%# formulaire de la homepage pour trouver le sujet principal %>
      <h2>Votre recherche</h2>
      <div class="card-wrapper">
        <div class="input-style">
          <%= form_with url: search_path, method: :get do %>
            <%= text_field_tag :main_subject,
              params[:main_subject],
              placeholder: raw("&#x1F50E"),
              style: "font-family: 'Comfortaa'",
              required: true
            %>
            <div class="btn-maj">
              <%= submit_tag "Rechercher"%>
            </div>
          <% end %>
        </div>

      </div>
      <h3 class="else-cpm text-center">OU</h3>
      <%# Tag pour sujets réccurents %>
      <h2>Sujets récurrents</h2>
      <div class="d-flex flex-wrap">
        <div class="btn-tag">
          <%= link_to "congés payés", search_path(main_subject: "congés payés") %>
        </div>

        <div class="btn-tag">
          <%= link_to "heures supplémentaires", search_path(:main_subject => "heures supplémentaires") %>
        </div>

        <div class="btn-tag">
          <%= link_to "période d'essai", search_path(:main_subject => "période d'essai") %>
        </div>

        <div class="btn-tag">
          <%= link_to "rupture du contrat", search_path(:main_subject => "rupture du contrat") %>
        </div>


        <div class="btn-tag">
          <%= link_to "salaires", search_path(:main_subject => "salaires") %>
        </div>
      </div>
    </div>
  </div>
</div>
<%#= @relation %>
