<h1>Help RH</h1>

<p>Salariés, protégez-vous, et apprenez à faire respecter vos droits !
Help RH vous aide à répondre à votre question et à trouver le texte applicable à votre situation.</p>


<%# formulaire de la homepage pour trouver le sujet principal %>
<%= form_with url: search_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "sujet de recherche"
  %>
  <%= submit_tag "Rechercher" %>
<% end %>

<h2>Sujets récurrents</h2>

<%= link_to "congés payés", search_path(:main_subject => "congés payés") %>
<%= link_to "heures supplémentaires", search_path(:main_subject => "heures supplémentaires") %>
<%= link_to "fin de contrat", search_path(:main_subject => "fin de contrat") %>
<%= link_to "période d'essai", search_path(:main_subject => "période d'essai") %>
<%= link_to "rémunération", search_path(:main_subject => "rémunération") %>
