<h1>Authorization Page / Display Page</h1>

<%# <%= @token %>
<%= @ccn_name %>
<%= @idcc %>
<%# <%= @sections[0].keys %>
<%# <%= @sections[0]["sections"][0].keys%>
<%= @vigueur%>
<%= @title%>
<%= @clause %>
<%# <%= @articles.keys %>
<%= @path_title %>
<%= @content %>
<%= @article_num %>
<%= @content %>
