<%= render "shared/navbar" %>
<div class="screen-wrapper">
  <div class= "card-white-result d-flex">
    <%# arborescence de bootstrap %>
    <div class="arborescence">
      <strong class="title-aside d-none d-md-block h6 my-2"><%= @ccn_name %></strong>
      <hr class="d-none d-md-block my-2">
      <%# <div class="collapse bd-toc-collapse" id="tocContents"> %>

      <%# FORM GET POUR SECOND INPUT DE NOTRE QUERY %>
      <%# <><%= link_to 'licenciement', result_path(main_subject: params[:main_subject], secondary_subject: 'licenciement', idcc: params[:idcc], status: params[:status]) %>
    <div class="container d-block">
      <p>Besoin d'affiner votre recherche ?</p>
      <div class="card-wrapper">
        <div class="input-style">
          <%= form_with url: result_path, method: :get do %>
            <%= hidden_field_tag :main_subject, params[:main_subject] %>
            <%= hidden_field_tag :idcc, params[:idcc] %>
            <%= hidden_field_tag :status, params[:status] %>
            <%= text_field_tag :secondary_subject, {},
              placeholder: "Taper ici votre second mot clé",
              style: "font-family: 'Comfortaa'",
              required: true
            %>
            <div class="btn-maj">
              <%= submit_tag "Affiner" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


      <div class="detail-arborescence">
          <details class="menu-deroulant">
            <summary>Clause 1 ppppppppppppppppp</summary>
              <ul>
                <details class="sous-menu">
                  <summary>Titre 1</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>

                <details class="sous-menu">
                  <summary>Titre 2</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>

                <details class="sous-menu">
                  <summary>Titre 2</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>
              </ul>
          </details>
      </div>
    </div>
    <%# -------------- %>

    <div class="article-result" data-controller="resultscroll" >
    <h1 class= "text-align-center d-flex"><%= @ccn_name %></h1><br>
      <% @chapters.each do |chapter| %>
        <% if chapter["etat"] == "VIGUEUR_ETEN" || chapter["etat"] == "VIGUEUR_NON_ETEN"%>
          <% if chapter["etat"] %>
            <% if chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
              <h2 id="main-subject-chapter"><%= highlight(chapter["title"], @highlighted_words) do |match| %></h2>
                  <% if match == params[:secondary_subject] %>
                    <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                  <% else %>
                    <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                  <% end %>
                <% end %>
            <% else %>
              <h2><%= chapter["title"] %></h2>
            <% end %>
            <br>
            <% @chapter_articles = chapter["articles"]%>
            <% @chapter_articles.each do |article| %>
              <%= article_id = nil  %>
              <% unless chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
                <% if (article["content"].html_safe.include?(params[:main_subject]))%>
                  <% article_id = "main-subject-article" %>
                <% end %>
              <% end %>
              <% if @chapter_articles.count == 1 %>
                <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                <%= highlight(article["content"].html_safe, @highlighted_words) do |match|%>
                    <% if match == params[:secondary_subject] %>
                      <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                    <% else %>
                      <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                    <% end %>
                  <% end %>

              <% elsif @chapter_articles.count > 1 %>
                <% displayed_article = [] %>
                <% if article["etat"] == "VIGUEUR_ETEN"%>
                  <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                  <% displayed_article << article["num"] %>
                  <%= highlight(article["content"].html_safe, @highlighted_words) do |match|%>
                    <% if match == params[:secondary_subject] %>
                      <% "<mark class='secondary-mark'>#{match}</mark>".html_safe%>
                    <% else %>
                      <% "<mark class='primary-mark'>#{match}</mark>".html_safe%>
                    <% end %>
                  <% end %>

                <% elsif article["etat"] == "VIGUEUR" && displayed_article == nil %>
                  <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                  <% displayed_article << article["num"] %>
                <% else %>
                <% end %>
              <% end%>
            <%end%>
          <% end %>
        <%end%>
      <%end %>
    </div>
  </div>
</div>
