<h1>Authorization Page / Display Page</h1>

<p><%= @ccn_name %> - <%= @idcc %></p><br>

<%#<%= @vigueur%>
<%#<%= @title%>
<%#<%= @clause %>
<%# <%= @articles.keys %>
<%#<%= @path_title %>
<%#<%= @content %>
<%#<%= @article_num %>


<br>
<%# => méthode qui récupère tous les articles du CHAPITRE  %>
<%# => @path_title[1] : méthode qui récupère le NOM du CHAPITRE  %>
<%#<%= @path_title[1] %><br>
<%#<% @articles.each do |article| %>
<%#  <p>Article <%= article["num"] %></p><br>
<%#  <%= article["content"] %>
<%#<% end %>


<p>################################################################</p>

<% @chapters.each do |chapter| %>
  <%# <p>Article <%= article["num"] %></p><br>

  <% if chapter["etat"] == "VIGUEUR_ETEN" || chapter["etat"] == "VIGUEUR_NON_ETEN"%>
    <% if chapter["etat"] %>
      <%= chapter["title"] %><br>
      <% @chapter_articles = chapter["articles"]%>
      <% @chapter_articles.each do |article| %>
        <% if @chapter_articles.count == 1 %>
          <p>Article <%= article["num"]%></p><br>
          <%= article["content"] %>
        <% elsif @chapter_articles.count > 1 %>
          <% displayed_article = [] %>
          <% if article["etat"] == "VIGUEUR_ETEN"%>
            <p>Article <%= article["num"]%></p><br>
            <% displayed_article << article["num"] %>
            <%= article["content"] %>
          <% elsif article["etat"] == "VIGUEUR" && displayed_article == nil %>
            <p>Article <%= article["num"]%></p><br>
            <% displayed_article << article["num"] %>
          <% else %>
          <% end %>
        <% else %>
        <% end %>
      <% end%>
    <%end%>
  <% end %>
<%end%>

