<%= render "shared/navbar" %>
<div class="screen-wrapper">
  <div class= "card-white-result d-flex">
    <%# arborescence de bootstrap %>
    <div class="arborescence">
      <strong class="d-none d-md-block h6 my-2"><%= @ccn_name %></strong>
      <hr class="d-none d-md-block my-2">
      <%# <div class="collapse bd-toc-collapse" id="tocContents"> %>
      <div class="detail-arborescence">
          <details class="menu-deroulant">
            <summary>Clause 1 pppppppppppppppppppppppppppppppppppppp</summary>
              <ul>
                <details class="sous-menu">
                  <summary>Titre 1</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>

                <details class="sous-menu">
                  <summary>Titre 2</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>

                <details class="sous-menu">
                  <summary>Titre 2</summary>
                  <ul class="sous-sous-menu">
                    <summary>Article 1</summary>
                    <summary>Article 2</summary>
                  </ul>
                </details>
              </ul>
          </details>
      </div>
    </div>
    <%# -------------- %>

    <div class="article-result" data-controller="resultscroll" >
    <h1 class= "text-align-center d-flex"><%= @ccn_name %></h1><br>
      <% @chapters.each do |chapter| %>
        <%# <p>Article <%= article["num"] %></p><br>
        <%# <% highlight(content.body, @search_keywords.split) -%>
        <% if chapter["etat"] == "VIGUEUR_ETEN" || chapter["etat"] == "VIGUEUR_NON_ETEN"%>
          <% if chapter["etat"] %>
            <% if chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
              <h2 id="main-subject-chapter"><%= highlight(chapter["title"], params[:main_subject]) %></h2>
            <% else %>
              <h2><%= chapter["title"] %></h2>
            <% end %>
            <br>
            <% @chapter_articles = chapter["articles"]%>
            <% @chapter_articles.each do |article| %>
              <%= article_id = nil  %>
              <% unless chapter["title"].parameterize.underscore == params[:main_subject].parameterize.underscore %>
                <% if (article["content"].html_safe.include?(params[:main_subject]))%>
                  <% article_id = "main-subject-article" %>
                <% end %>
              <% end %>
              <% if @chapter_articles.count == 1 %>
                <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                <%= article["content"].html_safe %>
              <% elsif @chapter_articles.count > 1 %>
                <% displayed_article = [] %>
                <% if article["etat"] == "VIGUEUR_ETEN"%>
                  <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                  <% displayed_article << article["num"] %>
                  <%= highlight(article["content"].html_safe, ["ancienneté", "contrat", "statut", " ans"]) %>
                <% elsif article["etat"] == "VIGUEUR" && displayed_article == nil %>
                  <p id=<%=article_id%>>Article <%= article["num"]%></p><br>
                  <% displayed_article << article["num"] %>
                <% else %>
                <% end %>
              <% end%>
            <%end%>
          <% end %>
        <%end%>
      <%end %>
    </div>
  </div>
</div>
