<%= render "shared/navbar" %>
<div class="screen-wrapper" data-controller="chapters content">
  <div class= "card-white-result d-flex">
    <%# arborescence %>
    <div class="arborescence">
      <strong class="title-aside d-none d-md-block h6 my-2"><%= @ccn_name.split(".").first %></strong>
      <hr class="d-none d-md-block my-2">

      <%# FORM GET POUR SECOND INPUT DE NOTRE QUERY %>
    <div class="container d-block p-10">
      <p>Besoin d'affiner votre recherche ?</p>
      <div class="card-wrapper">
        <div class="input-style">
          <%= form_with url: result_path, method: :get, data: { content_target: "form" } do %>
            <%= hidden_field_tag :main_subject, params[:main_subject] %>
            <%= hidden_field_tag :idcc, params[:idcc] %>
            <%= hidden_field_tag :status, params[:status] %>
            <%= text_field_tag :secondary_subject, {},
              placeholder: "Taper votre second mot clé",
              style: "font-family: 'Comfortaa'",
              required: true
            %>
            <div class="btn-maj">
              <%= submit_tag "Affiner" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <hr class="d-none d-md-block my-2">
      <div class="detail-arborescence">
        <details class="menu-deroulant">
            <summary>Liste des articles</summary>
            <ul>
              <% @chapters.each_with_index do |chapter, index| %>
                <% if chapter["etat"] == "VIGUEUR_ETEN" || chapter["etat"] == "VIGUEUR_NON_ETEN"%>
                  <summary class="articles-list" data-index="<%=index%>" data-action="click->chapters#scroll" ><%=chapter["title"]%></summary>
                <% end %>
              <% end %>
            </ul>
        </details>
      </div>
    </div>
    <%# -------------- %>

    <%= render "content" %>
  </div>
</div>
