<%= render "shared/navbar" %>
<div class="screen-wrapper">
  <div class="card-white-medium d-flex justify-content-center">
    <%# PARTIE À GAUCHE %>
    <div class="search-partie-gauche">
      <h1>Affinez votre recherche</h1>
      <div>
        <h3>Sujet sélectionné</h3>
        <div class="info-subject">
          <%= params[:main_subject] %>
        </div>
      </div>
      <div class="instruction">
        <p class="text-align-center">Nous avons quelques questions complémentaires pour trouver le texte correspondant à votre situation !</p>
      </div>
    </div>
    <%# PARTIE À DROITE %>
    <div class="container">
      <div class="input-style d-flex justify-content-center">
        <%= form_with url: result_path, method: :get do |f| %>
          <%= f.hidden_field :main_subject, value: params[:main_subject] %>

          <%# DROPDOWN WITH TOMSELECT TO FILTER + POPOVER %>
          <div class="tooltip-div"><%= f.label :idcc, "Convention Collective" %> <a tabindex="0" class="fa-thin fa-square-question" id="tooltip-picto"
          data-controller="popover" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="right"
          data-bs-content="Votre bulletin de paie comporte des mentions obligatoires, notamment le <strong>nom</strong> de votre Convention Collective, son identification <strong>IDCC</strong>, votre code <strong>NAF / APE</strong> ou le <strong>numéro SIRET</strong> de votre entreprise.<br><br>
          Saisissez dans le champ ci-contre le <strong>nom</strong> ou le <strong>numéro IDCC</strong> de votre convention.<br><br>
          Sachez que vous pouvez également retrouver le nom ou l'IDCC de votre convention collective en saisissant votre numéro SIRET sur le moteur de recherche présent sur <%= "#{link_to "ce site.", "https://code.travail.gouv.fr/outils/convention-collective#entreprise", id: "site", target: "_blank"}"%>"> ? </a></div>
          <%= f.select :idcc, ::Conv::CCN_NAMES_AND_IDCC, {}, data: {controller: "select" }, class:"dropdown", placeholder: "Saisissez votre numéro IDCC ou le nom de votre convention"
          %>

          <%= f.label :contract, "Contrat" %>
          <%= f.select :contract, ["CDI", "CDD", "Apprentissage", "Contrat de professionnalisation"],
            placeholder: "Votre type de contrat",
            required: true
          %>

          <%= f.label :status, "Statut" %>
          <%=f.select :status, ["Employé", "Agent de maîtrise", "Cadre"],
            placeholder: "Votre statut",
            required: true
          %>

          <%= f.label :seniority, "Ancienneté" %>
          <%= f.number_field :seniority,
            placeholder: "Votre ancienneté",
            maxlength: 2,
            min: 0,
            required: true
          %>

          <%= f.label :age, "Âge" %>
          <%= f.number_field :age,
            placeholder: "Votre âge",
            maxlength: 2,
            min: 0,
            required: true
          %>

          <%= f.label :protected_salary, "Statut protégé ?" %>
          <%=f.select :protected_salary, ["Pas de statut particulier", "Représentant du personnel", "Femme enceinte", "Salarié mineur"],
            placeholder: "Votre statut",
            required: false
          %>

          <div class="d-flex justify-content-center pb-2" data-controller="spinner">
            <div data-spinner-target="submit" class="new-button">
              <%= f.submit "Rechercher", data: { action: "click->spinner#spinShow"} %>
            </div>
            <div data-spinner-target="circle" class="lds-roller hidden">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
